# One on One

In [25]:
print("Sandugash Nurbolat")

Sandugash Nurbolat

In [26]:
my_number = 35176

In [24]:
print(type(my_number))

<class 'int'>

In [4]:
fruits= ["apple", "banana", "orange", "mango"]

In [5]:
for f in fruits:
    print(f)

apple
banana
orange
mango

In [23]:
car_info = {
  "brand": "BMW",
  "model": "420i",
  "price": 783645
}
print(car_info)

{'brand': 'BMW', 'model': '420i', 'price': 783645}

In [11]:
class Student:
    def __init__(self, name, index_number):
        self.name = name
        self.index_number = index_number

In [29]:
student1 = Student('Celina', '5743856')
student2 = Student('Alin', '58723875')

In [30]:
print(student1.name, student1.index_number)
print(student2.name, student2.index_number)

Celina 5743856
Alin 58723875